{{define "content"}}
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Verbinding gemaakt</h1>
			<p>De verbinding met Exact Online is succesvol opgezet.</p>
		</div>
	</div>
</div>
{{end}}
