{{define "content"}}
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Verbinding mislukt</h1>
			<p>De verbinding met Exact Online is mislukt. De foutmelding was:</p>
			<pre>{{.Error}}</pre>
		</div>
	</div>
</div>
{{end}}
