{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Recras &ndash; Exact Online koppeling</h1>
      <p>Vanaf deze site kunt u de koppeling tussen Recras en Exact Online activeren en de actuele status van Exact Online-voorbereiding inzien. Zie hiervoor het menu rechtsboven.</p>
    </div>
  </div>
</div>
{{end}}
