{{define "content"}}
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Verbind met Exact Online</h1>
			<p>
			Wanneer u de koppeling tussen Recras en Exact Online activeert, word u doorgeleid naar Exact Online.
			Exact Online presenteert u een inlogscherm met de vraag of u de applicatie toegang wil geven tot uw Administraties.
			</p>

			<form method="post">
				<button class="btn btn-primary" type="submit">
					Activeer koppeling
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</form>
		</div>
	</div>
</div>
{{end}}
